.about-us-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
    background-color: lightskyblue;
}

.about-us-container h1 {
    color: #19191a;
}

.about-us-container p {
    margin-bottom: 15px;
    line-height: 1.6;
}
