.home p{
    text-justify: distribute;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
    
}
.h4{
    justify-content: center;
}
.img1{
    height: 100%;
    width: 100%;
}
body{
    background-clip: "c:\Users\santh\Downloads\hd0038.mov";
    background-position: cover;
    background-repeat: no-repeat;
}