.nav
{
    display: flex;
    justify-content: space-between;
    background:#1A2980;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    width: 100vw;
}
.logo
{
    display: inline-block;
    margin-left: 20px;
}

.nav ul li{
    display: inline-block;
    line-height: 25px;
    margin-right: 40px;
}
.h3{
    right: 0.1%;
}