@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0; /* Remove default margin to ensure the side panel covers the entire page */
}

/* Toggle Styles */

#viewport {
  padding-left: 250px;
  transition: all 0.5s ease;
}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
  transition: margin 0.5s ease, width 0.5s ease; /* Add transition for content */
}

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  top: 0; /* Position at the top of the page */
  left: 0;
  height: 100%;
  width: 250px;
  overflow-y: auto;
  /* background: #de7093; */

  background: #2C3E50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
      transition: all 0.5s ease;
}

#sidebar header {
  background-color:#4CA1AF;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}

#sidebar .nav a {
  background: none;
  border-bottom: 1px solid#131010;
  color: #CFD8DC;
  font-size: 14px;
  padding: 16px 24px;
  text-decoration: none;
  display: block;
}

#sidebar .nav a:hover {
  background: none;
  color: #ECEFF1;
}

#sidebar .nav a i {
  margin-left: 16px

}

/* Media query for responsive design */
@media (max-width: 768px) {
  #viewport {
    padding-left: 100;
  }

  #content {
    width: 100%;
    margin-left: 0;
  }

  #sidebar {
    width: 0;
    left:-250px;
 }
}
.content{
  background-color: antiquewhite;
}